.center {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 28px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  pointer-events: none;
}

.login_v {
  opacity: 1;
  z-index: 3;
}

.login_i {
  opacity: 0;
  z-index: -1;
}

.center > form, .center > .dialog {
    position: relative;
    pointer-events: initial;
    border-radius: 3px;
    background-color: var(--card-bg);
    backdrop-filter: blur(5px);
    padding: 12px;
}

#loginform {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-group {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 15px;
}

.login-group input {
  background: transparent;
  border: none;
  font-family: 'Bender';
  font-size: 1.7em;
  height: 2em;
  margin-top: 6.5px;
  letter-spacing: 0.02em;
}

input#login-usr {
  font-style: italic;
}

#login-logo {
  height: 18vh;
}

#loginform-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginform-outer {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
  margin: 2.7em;
}

.login-group input:focus-visible, .login-group input:focus, .login-group input:focus-within {
  background: none;
  border: none;
  outline: none;
}

.login-label {
  color: black;
  font-family: 'Novecento Sans';
  font-weight: bold;
  font-size: 1.45em;
  height: 100%;
  letter-spacing: -0.055em;
  align-content: center;
  margin: 0 !important;
}

#login input[type=submit] {
  background-color: transparent;
  color: black;
  font-size: 12pt;
  margin-top: 18px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 11em;
  margin-left: 2em;
  transition: all  0.35s;
}

#login input[type=submit]:hover {
  color: white;
  background: black;
}

.err {
  font-family: sans-serif;
  font-size: 9pt;
  width: fit-content;
  color: red;
}

#lerr {
  position: relative;
  top: -28px;
  left: 110px;
  text-align: end;
}

#ierr,
#aerr,
#merr {
  margin: 4px 0;
  width: 100%;
  text-align: center;
}

.close {
  position: absolute;
  justify-self: end;
  top: 8px;
  right: 8px;
  font-size: 8pt;
  color: red;
  border: 0px;
  background-color: #0000;
  cursor: pointer;
}

#close_wrapper {
  position: absolute;
  justify-self: end;
  top: 6px;
  right: 6px;
  font-size: 8pt;
  cursor: pointer;
}

.close-button {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  right: 10px;
  top: 10px;
}

.close-button > div {
  position: relative;
}
.close-button-block {
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.close-button-block:before, .close-button-block:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(55% - 4px);
  display: block;
  width: 4px;
  height: 25px;
  transform-origin: bottom center;
  background: black;
  transition: all ease-out 280ms;
}
.close-button-block:last-of-type {
  transform: rotate(180deg);
}
.close-button .in .close-button-block:before {
  transition-delay: 280ms;
  transform: translateX(20px) translateY(-20px) rotate(45deg);
}
.close-button .in .close-button-block:after {
  transition-delay: 280ms;
  transform: translateX(-22px) translateY(-22px) rotate(-45deg);
}
.close-button .out {
  position: absolute;
  top: 0;
  left: 0;
}
.close-button .out .close-button-block:before {
  transform: translateX(-5px) translateY(5px) rotate(45deg);
}
.close-button .out .close-button-block:after {
  transform: translateX(5px) translateY(5px) rotate(-45deg);
}
.close-button:hover .in .close-button-block:before {
  transform: translateX(-5px) translateY(5px) rotate(45deg);
}
.close-button:hover .in .close-button-block:after {
  transform: translateX(5px) translateY(5px) rotate(-45deg);
}
.close-button:hover .out .close-button-block:before {
  transform: translateX(-20px) translateY(20px) rotate(45deg);
}
.close-button:hover .out .close-button-block:after {
  transform: translateX(20px) translateY(20px) rotate(-45deg);
}

label {
  display: block;
  margin: 10px 0;
  font-family: sans-serif;
  font-size: 9pt;
  color: #555555;
}

.req {
  vertical-align: 2px;
  color: red;
}

.dialog_v {
  opacity: 1;
  z-index: 2;
}

.dialog_i {
  opacity: 0;
  z-index: -1;
}

.dialogform {
  width: 576px;
  height: auto;
  max-height: 80vh;
  display: none;
  overflow-y: auto;
}

.activedialog {
  display: block;
}

.dialogform .close {
  font-size: 12pt;
}

.dialogform>h1 {
  width: 100%;
  text-align: center;
  line-height: 1;
}

.dialogform input,
.dialogform select {
  margin-bottom: 8px;
}

.dialogform select {
  height: 21px;
  /* derp */
}

.dialogform>label {
  vertical-align: 3px;
  /* derp */
}

.dialogform>div:first-of-type {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.dialogform>div:first-of-type input,
.dialogform>div:first-of-type select {
  width: 238px;
}

.dialogform>div:last-of-type input,
.dialogform>div:last-of-type select {
  width: calc(100% - 8px);
}

.dialogform>div:last-of-type input[type=checkbox] {
  width: unset;
}

.dialogform>label {
  display: inline;
}

.dialogform>input[type=submit] {
  width: 100%;
  margin-top: 12px;
  padding: 6px;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.dialogform .row>.row {
  justify-content: start;
  gap: 0.6rem;
  align-items: center;
}

.row div {
  width: 100%;
}

.dialogform .row button {
  position: relative;
  height: 32px;
  width: 32px;
  top: 25px;
  background-color: #0000;
  border: #0000;
  color: rgb(0, 156, 0);
  font-family: monospace;
  font-size: 24pt;
  cursor: pointer;
}

.ays_i {
  opacity: 0;
  z-index: -1;
}

.ays_v {
  opacity: 1;
  z-index: 3;
}

.focus {
  background-color: #000a;
  pointer-events: all;
  height: 100%;
}

.pw_i {
  opacity: 0;
  z-index: -1;
}

.pw_v {
  opacity: 1;
  z-index: 5;
}

#pw input[type=submit] {
  margin-top: 12px;
  cursor: pointer;
}

.about_i {
  opacity: 0;
  z-index: -1;
}

.about_v {
  opacity: 1;
  z-index: 3;
}

form.dialogform input[type=date] {
  width: max-content;
  /* !important? */
}

input#c3 {
  margin: 0;
}

label[for=c3] {
  width: 90%;
  align-self: center;
}

.blame {
    text-align: center;
    color: gray;
}
