@font-face {
  font-family: "NuberNext Condensed";
  src: url(../fonts/NuberNext-RegularCondensed.woff2);
}

@font-face {
  font-family: "Visitor";
  src: url(../fonts/Visitor.woff2);
}

@font-face {
  font-family: 'Bender';
  src: local('Bender'),
    url(../fonts/Bender.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bender';
  src: local('Bender Bold'), local('Bender-Bold'),
    url(../fonts/Bender-Bold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bender';
  src: local('Bender Italic'), local('Bender-Italic'),
    url(../fonts/Bender-Italic.woff2) format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans';
  src: local('Novecento sans UltraLight'), local('Novecentosans-UltraLight'),
    url(../fonts/Novecentosans-UltraLight.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans';
  src: local('Novecento sans UltraBold'), local('Novecentosans-UltraBold'),
    url(../fonts/Novecentosans-UltraBold.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans';
  src: local('Novecento sans Light'), local('Novecentosans-Light'),
    url(../fonts/Novecentosans-Light.woff2) format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans';
  src: local('Novecento sans Bold'), local('Novecentosans-Bold'),
    url(../fonts/Novecentosans-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans Book';
  src: local('Novecento sans Book'), local('Novecentosans-Book'),
    url(../fonts/Novecentosans-Book.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans';
  src: local('Novecento sans Normal'), local('Novecentosans-Normal'),
    url(../fonts/Novecentosans-Normal.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans';
  src: local('Novecento sans Medium'), local('Novecentosans-Medium'),
    url(../fonts/Novecentosans-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans';
  src: local('Novecento sans DemiBold'), local('Novecentosans-DemiBold'),
    url(../fonts/Novecentosans-DemiBold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url(../fonts/JetBrainsMono-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  src: url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.ttf") format("truetype"); }

@font-face {
  font-family: 'Font Awesome 6 Free';
  font-weight: 400;
  src: url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.ttf") format("truetype"); }


:root {
  accent-color: var(--btn-active);
}

p,
a {
  font-family: "NuberNext Condensed", "Segoe UI", sans-serif;
}

a {
  color: var(--btn-active);
}

a:hover {
  color: var(--lnk-hvr);
}

body {
  margin: 0;
  background-color: #d9d9d9;
  background-image: url(../images/background.svg);
  overflow-x: hidden;
  overflow-y: hidden;
  background-size: cover;
  background-attachment: fixed;
}

div {
  box-sizing: border-box;
}

pre {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* why didn't i think of this before! */
.invisible {
  opacity: 0;
}

#cy {
  position: absolute;
  top: -50%;
  left: -45%;
  height: 200vh;
  width: 175vw;
  background: transparent;
  background-size: cover;
}


@keyframes bg-scrolling-reverse {
  100% {
    background-position: 400px 400px;
  }
}

#cy {
  background: url("../images/grid.svg") repeat 0 0;
  animation: bg-scrolling-reverse 35s infinite;
  animation-timing-function: linear;
}

#footer {
  font-size: 1.4rem;
  position: absolute;
  left: 1%;
  right: 1%;
  width: fit-content;
  border-radius: 2px;
  display: flex;
  z-index: 2;
  text-align: center;
  justify-content: space-between;
  backdrop-filter: blur(3.5px);
}

.navico {
  vertical-align: 0em !important;
}

.navico::before, .navico::after {
  display: none;
}

/* responsive footer stuff */

@media only screen and (max-width: 1375px) {
    .ftr_admin .resp-text {
      display: none;
    }
    .ftr_admin .navico::before, .ftr_admin .navico::after {
      display: inline-block;
    }
    .ftr_admin .btn_text {
      padding: 0 !important;
    }
}

@media only screen and (max-width: 1070px) {
  .resp-text {
    display: none;
  }
  .navico::before, .navico::after {
    display: inline-block;
  }
  .btn_text {
    padding: 0 !important;
  }

  #banner {
    content: url("../images/banner-resp.png");
  }
  #banner:hover {
    content: url("../images/banner-resp-awake.png") !important;
  }
}

#banner {
  max-height: 77.59px;
}

#banner:hover {
  content: url("../images/banner-awake.png");
}

#footer a {
  text-decoration: none;
}

#footer p {
  margin-block: 0;
}

#footer>nav {
  flex-grow: 1;
  height: auto;
  display: flex;
  align-items: center;
}

.ftr_sub {
  box-shadow: var(--elev-2)
}

.ftr_btn {
  padding: 15px;
  display: flex;
  color: var(--btn-text);
  font-family: "NuberNext Condensed";
  height: 100%;
  justify-content: center;
  align-items: center;
  background-position: center;
  transition: background 0.8s;
}

.btn-text:after {
  border-left: 2px black;
}

.btn_text:hover {
  text-decoration: none;
  color: var(--btn-text);
}

.btn_text {
  font-family: "NuberNext Condensed";
  font-size: 1.5rem;
  padding: 10px;
  color: inherit;
}

.ftr_btn:hover {
  color: var(--btn-text);
  background: var(--btn-hvr1) radial-gradient(circle, transparent 1%, var(--btn-hvr1) 1%) center/15000%;
}

.ftr_btn:active {
  background-color: var(--btn-active);
  background-size: 100%;
  transition: background 0s;
}

#ftr_gen {
  background: rgba(var(--gen1), 0.9);
  background: linear-gradient(90deg, rgba(var(--gen1), 0.9) 0%, rgba(var(--gen2), 0.9) 59%);
}

.ftr_usr {
  background: rgba(var(--usr1), 0.9);
  background: linear-gradient(90deg, rgba(var(--usr1), 0.9) 0%, rgba(var(--usr2), 0.9) 59%);
}

.ftr_usr>*:first-child {
  margin-left: 0.4rem
}

.ftr_admin {
  background: rgba(var(--adm1), 0.9);
  background: linear-gradient(rgba(var(--adm1), 0.9) 0%, rgba(var(--adm2), 0.9) 59%);

  & .ftr_btn:hover {
    color: var(--adm-hvr-text);
    background: var(--adm-hvr) radial-gradient(circle, transparent 1%, var(--adm-hvr) 1%) center/15000%;
  }

  ;

  & .btn_text:hover {
    color: var(--adm-hvr-text);
  }

  ;

  & .ftr_btn:active {
    background-color: var(--adm-active);
    background-size: 100%;
    transition: background 0s;
  }

  & .ftr_sep {
    background: rgba(255, 255, 255, 0.75);
  }

  ;
}

.ftr_sep {
  width: 2px;
  height: 40%;
  background: rgba(148, 148, 148, 0.75);
}

#first_sep {
  margin-left: 10px;
}


#loginstr {
  padding: 12px;
  display: flex;
  color: var(--btn-text);
  font-family: "NuberNext Condensed";
  height: 100%;
  justify-content: center;
  align-items: center;
  background-position: center;
}

#username {
  background: black;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
  font-family: "JetBrains Mono";
  font-weight: lighter;
  font-size: 1.25rem;
  margin-left: 0.5rem;
}

#footer>div:first-child {
  justify-content: start;
}

#footer>div:last-child {
  justify-content: end;
}

.footer_v {
  bottom: 2%;
  animation: slideup 0.4s ease-in-out;
}

.footer_i {
  bottom: -10%;
  animation: slidedown 0.4s ease-in-out;
}

@keyframes slidedown {
  0% {
    bottom: 2%;
  }

  100% {
    bottom: -10%;
  }
}

@keyframes slideup {
  0% {
    bottom: -10%;
  }

  100% {
    bottom: 2%;
  }
}

#restoreui-area, #ripple-area {
  position: absolute;
  bottom: 1%;
  left: 2%;
  width: 80px;
  height: 80px;
  display: flex;
}

#ripple-area {
  align-items: center;
  justify-content: center;
}


#restoreui {
  display: flex;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
  z-index: 6;
}

#restoreui {
  opacity: 0;
}

#restoreui:hover {
  opacity: 1;
}


#restoreui > a {
  backdrop-filter: blur(3px);
  border-radius: 50%;
  text-decoration: none;
}

/* .restoreui_i {
  left: -50%;
  animation: slideleft 0.5s ease-in-out;
}

.restoreui_v {
  left: ;
  animation: slideright 0.5s ease-in-out;
}

*/

body:has(.footer_v) {
  & .ripple {
    display: none;
  }
}

body:has(.footer_i) {
  .restoreui_v {
    animation: fadeinout 2s linear;
  }
}


.ripple {
  position: absolute;
  height: 700%;
  width: 700%;
  z-index: -1;

  #rippleRing {
    animation: rippleRing 2s ease-out;
    border-radius: 50%;
    height: 100%;
    opacity: 0;
    width: 100%;
  }

  #rippleCircle {
    animation: rippleCircle 2s ease-out;
    border-radius: 50%;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
  }

  .ripple-in {
    display: flex;
    align-items: center;
    justify-content: center;
  }


}

@keyframes rippleRing {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  30% {
    opacity: .4;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg) scale(0.8);
  }
}


@keyframes rippleCircle {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  40% {
    opacity: .4;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg) scale(0.6);
  }
}

#unhider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  backdrop-filter: blur(2px);
  background-clip: text;
  background: rgba(var(--adm1), 0.6);
}

#unhider > i::before {
  color: white;
}

.hiddenlink:has(#unhider) {
  text-decoration: none;
}

.hiddenlink {
  opacity: 0;
  color: var(--btn-active);
  animation: fadeout 0.3s linear;
}

.hiddenlink:hover {
  opacity: 1;
  animation: fadein 1s linear;
}

@keyframes slideleft {
  0% {
    right: 0;
  }

  100% {
    right: -50%;
  }
}

@keyframes slideright {
  0% {
    right: -50%;
  }

  100% {
    right: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.none {
  display: none !important;
}

.icon {
  width: 24px;
  height: 24px;
  background-color: var(--btn-active);
  mask-repeat: no-repeat;
}

.icon:hover {
  background-color: var(--lnk-hvr);
}

.icon-open {
  mask-image: url("../images/popout/open.svg");
}

.icon-edit {
  mask-image: url("../images/popout/edit.svg");
}

.icon-delete {
  mask-image: url("../images/popout/delete.svg");
}

.icon-editevent {
  mask-image: url("../images/popout/editevent.svg");
}
