#popoutcontainer {
    position: absolute;
    top: 7.5%;
    width: 500px;
    height: 80%;
    display: flex;
}

#popoutcontainer > img {
    height: 100%;
    margin-left: -58vh;
    align-self: center;
    pointer-events: none;
}

#collapse {
    position: absolute;
    right: 18px;
    width: 25%;
    height: 150px;
    text-align: end;
    z-index: 2;
}

#popout {
    background-color: rgba(238, 238, 238, 0.85);
    backdrop-filter: blur(6px);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 12px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}


#popout > img {
    position: absolute;
    width: 30%;
    top: 2%;
    right: 1%;
    filter: drop-shadow(0px 0px 1px black) brightness(0);
    opacity: 0.75;
    object-fit: cover;
}

#popout > div {
    display: flex;
    flex-direction: column;
}

#popout a {
    margin-bottom: 16px;
    align-self: end;
}

#popout > a {
    align-self: unset;
}

.popout_name {
    font-family: "Novecento Sans";
    text-transform: uppercase;
    letter-spacing: -0.05em;
    font-size: 36pt;
    line-height: 30pt;
    margin: 18pt 0;
    z-index: 1;
    float: right;
    width: 70%;
    color: #3b3b3b;
}

.popout_section {
    font-family: "NuberNext Condensed";
    padding: 8px;
    padding-bottom: 5px;
    margin: -12px 0 0 0;
    width: 100%;
    align-self: center;
    background-color: rgba(59, 59, 59, 0.75);
    color: white;
    letter-spacing: 0.06em;
}

.popout_interact {
    font-family: "Bender";
    letter-spacing: -0.5px;
    margin: 8pt 0;
    padding: 0 4px;
    width: fit-content;
    text-transform: uppercase;
}

#popout > div li {
    list-style-type: none;
    margin-left: -24px;
}

.none {
    display: none;
}

#popout > div li * {
    display: inline-block;
    line-height: 36px;
    margin-bottom: 0;
    vertical-align: middle;
    margin-block: 0;
    padding-right: 3pt;
}

#popout > div li img {
    width: 36px;
    height: auto;
}

#popout .none {
    display: none;
}

#list {
    padding-left: 2rem;
    margin-left: -2rem;
    list-style-type: none;
}

.obsolete {
	opacity: 0.5;
}

#list > li {
    padding-left: 2rem;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-family: "NuberNext Condensed";
    line-height: 16pt;
}

#list > li {
    background-image: url(../images/popout/brush.svg);
}

#list > li:nth-last-child(2) {
    background-image: url(../images/popout/public.svg);
}

#list > li:nth-last-child(1) {
    background-image: url(../images/popout/group.svg);
}

.popoutcontainer_i {
    right: -150vh;
    animation: slideoutpopout 0.4s ease-in-out;
}

.popoutcontainer_v {
    right: 2%;
    animation: slideinpopout 0.3s ease-out;
}

@keyframes slideinpopout {
    0% {
        right: -150vh;
    }
    100% {
        right: 2%;
    }
}

@keyframes slideoutpopout {
    0% {
        right: 2%;
    }
    100% {
        right: -150vh;
    }
}