#popoutcontainer {
  position: absolute;
  top: 7.5%;
  width: 500px;
  height: 80%;
  display: flex;
}

#popoutcontainer>img {
  height: 100%;
  margin-left: -58vh;
  align-self: center;
  pointer-events: none;
}

.imgloading {
  filter: brightness(0.5);
  animation: dim 0.1s ease-out;
}

@keyframes dim {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(0.5);
  }
}

#collapse {
  position: absolute;
  right: 18px;
  width: 25%;
  height: 150px;
  text-align: end;
  z-index: 2;
}

#popout {
    background-color: var(--card-bg);
    backdrop-filter: blur(6px);
    box-shadow: var(--elev-3);
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 12px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}


#popout>img {
  position: absolute;
  width: 30%;
  top: 2%;
  right: 1%;
  filter: invert(100%) drop-shadow(0px 0px 1px black);
  opacity: 0.75;
  object-fit: cover;
}

#popout>div {
  display: flex;
  justify-content: space-between;
}

#charid {
  color:gray;
  font-size: 14px;
}

#popout>section {
  display: flex;
  flex-direction: column;
}

/*
.clps_btn::after {
}

.collaps-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.popout_section .collaps-content:first-child {
  margin-top: -0.7em;
}

#instancelist {
  margin-top: 0;
}
*/

#popout a {
  margin-bottom: 16px;
  align-self: end;
}

#popout>a {
  align-self: unset;
}

.popout_name {
  font-family: "Novecento Sans";
  text-transform: uppercase;
  letter-spacing: -0.05em;
  font-size: 36pt;
  line-height: 30pt;
  margin: 18pt 0;
  z-index: 1;
  float: right;
  width: 70%;
  color: #3b3b3b;
}

.popout_section:first {
  margin-top: -12px;
}

.popout_section {
  font-family: "NuberNext Condensed";
  padding: 8px;
  padding-bottom: 5px;
  margin: 0 0 0 0;
  margin-bottom: 5px;
  width: 100%;
  align-self: center;
  background-color: rgba(59, 59, 59, 0.75);
  color: white;
  letter-spacing: 0.06em;
}

.popout_interact {
  font-family: "Bender";
  letter-spacing: -0.5px;
  margin: 8pt 0;
  padding: 0 4px;
  width: fit-content;
  text-transform: uppercase;
}

#popout>section li {
  list-style-type: none;
  margin-left: -24px;
}

.none {
  display: none;
}

#popout>section li * {
  display: inline-block;
  line-height: 36px;
  margin-bottom: 0;
  vertical-align: middle;
  margin-block: 0;
  padding-right: 3pt;
}

#popout>section li img {
  width: 36px;
  height: auto;
}

#popout .none {
  display: none;
}

#list {
  padding-left: 2rem;
  margin-left: -2rem;
  margin-top: 0;
  list-style-type: none;
  min-height: 60px;
  flex-shrink: 0;
}

.obsolete {
  opacity: 0.5;
}

#list > li {
    padding-left: 2rem;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-family: "NuberNext Condensed";
    line-height: 16pt;
    background-color: rgba(255,255,255,0.75);
    margin-bottom: 4px;
    width: 45%;
    border-radius: 4px;
}

#list>li {
  background-image: url(../images/popout/brush.svg);
}

#list>li:nth-last-child(2) {
  background-image: url(../images/popout/public.svg);
}

#list>li:nth-last-child(1) {
  background-image: url(../images/popout/group.svg);
}

.popoutcontainer_i {
  right: -150vh;
  animation: slideoutpopout 0.4s ease-in-out;
}

.popoutcontainer_v {
  right: 2%;
  animation: slideinpopout 0.3s ease-out;
}

@keyframes slideinpopout {
  0% {
    right: -150vh;
  }

  100% {
    right: 2%;
  }
}

@keyframes slideoutpopout {
  0% {
    right: 2%;
  }

  100% {
    right: -150vh;
  }
}